CompileFlags:
  Add:
    - -xc
    - --target=i686-pc-none-elf
    - -ffreestanding
    - -fno-stack-protector
    - -nostdlib
    - -Werror
    - -Wall
    - -Wextra
    - -Wno-unused-parameter
    - -Wno-pointer-to-int-cast
    - -Wno-unknown-pragmas
    - -Wno-address-of-packed-member
    - -Wno-int-to-pointer-cast
    - -Wno-switch
    - -std=gnu99
    - -fno-pie
    - -include
    - /home/artingl/dev/inari/build/config.h
    - -I/home/artingl/dev/inari/include
---
If:
  PathMatch: userspace/.*
CompileFlags:
  Add:
    - -I/home/artingl/dev/inari/userspace/libc/include
    - -I/home/artingl/dev/inari/userspace/shell/ism/include
