IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
ReflowComments: true
PenaltyBreakComment: 2

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0

SpacesBeforeTrailingComments: 1